.forecast-wrap {
  background-color: $white;
}

.forecast {
  box-sizing: border-box;
  padding-top: 2rem;
}

.forecast-title {
  margin-bottom: 1.5rem;
  text-align: center;
}

.forecast-images {
  text-align: center;
  img {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    display: block;
    box-sizing: border-box;
    border: 1px solid $grey-1;
    &.hidden {
      display: none;
    }
  }
}

.forecast-inform-overall,
.forecast-inform-grade {
  line-height: 1.4;
}

.forecast-inform-overall {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.forecast-inform-grade {
  font-size: 0.875rem;
  line-height: 1.5;
  color: $grey-0;
  margin-bottom: $bottom-gap;
}
