.forecast-wrap {
  background-color: $white;
}

.forecast-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.forecast-images {
  text-align: center;
  margin-bottom: 1rem;
  img {
    max-width: 100%;
    box-sizing: border-box;
    border: 1px solid $grey-1;
  }
}

.forecast-inform-overall,
.forecast-inform-grade {
  line-height: 1.4;
}

.forecast-inform-overall {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.forecast-inform-grade {
  color: $grey-0;
  margin-bottom: 2rem;
}
