// Typography
$sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Color
$black: rgba(0, 0, 0, 0.87);
$grey-0: rgba(0, 0, 0, 0.5);
$grey-1: rgba(0, 0, 0, 0.12);
$grey-2: rgba(0, 0, 0, 0.05);
$white: rgba(255, 255, 255, 1);
$blue: #32a1ff;
$green: #00c73c;
$orange: #fd9b5a;
$red: #ff5959;

// Size
$MAX_WIDTH: 1024px;
$wrap-padding: 16px;
$wrap-padding-bottom: 40px;

$tab-height: 56px;
$tab-margin-bottom: 40px;

$border-radius: 8px;

$button-size: 3rem;
$button-gap: 40px;

$graph-height: 20px;
