.progress-bar-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;

  button {
    width: $button-size;
    height: $button-size;
  }

  .play-btn {
    border-radius: $border-radius;
    background-color: $blue;
    &.playing {
      background-color: $grey-0;
    }
  }

  .material-icons {
    color: $white;
  }

  .progress-bar {
    position: relative;
    width: calc(100% - ((#{$button-size} * 2) + #{$button-gap}));
    height: 4px;
    margin-right: calc(#{$button-size}/ 2);
    background-color: $grey-1;
  }

  .current-progress {
    position: absolute;
    width: 0;
    height: 4px;
    background-color: $blue;
  }

  .control-btn {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: calc(#{$button-size}/ 2);
    border: 1px solid $grey-1;
    background-color: $white;
  }
}
