html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $grey-2;
  color: $black;
}

.wrap {
  width: 100%;
  max-width: $MAX_WIDTH;
  height: calc(100vh - #{$tab-height});
  margin: 0 auto;
}

.dust-wrap,
.forecast-wrap {
  width: 100%;
  display: flow-root;
  box-sizing: border-box;
  padding: 0 $wrap-padding;
}
